<nav id="main-nav" class="navbar navbar-default">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed main-nav__toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        		<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand main-nav__brand" href="#"><img src="images/header-logo.png" class="main-nav__brand-image" alt="Logo Banco de Chile"></a>
		</div>
		<!-- end .navbar-header -->

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right main-nav__links">
				<li class="main-nav__links-item">
					<a href="#" class="main-nav__links-anchor" title="Ir al Enlace 1">Enlace 1</a>
				</li>
				<li class="main-nav__links-item">
					<a href="#" class="main-nav__links-anchor" title="Ir al Enlace 2">Enlace 2</a>
				</li>
			</ul>
			<!-- end .main-nav__links -->
		</div>
		<!-- end .navbar-collapse -->
	</div>
	<!-- end .container-fluid -->
</nav>
<!-- end #main-nav -->