<div class="row  main-box">
	<div class="col-xs-12  panel  panel-default  main-box__panel  main-box__panel--no-border">
		<div class="row  panel-heading  main-box__heading  main-box__heading--no-border">
			<h4 class="panel-title  main-box__title  main-box__title--xsall">Total Items Seleccionados: {{count}}</h4>
			<button type="button" class="btn  btn-default  btn-sm  main-box__button" type="button" data-toggle="collapse" data-target="#search-form" aria-expanded="false" aria-controls="search-form">Cerrar</button>
		</div>
		<!-- end .main-box__heading -->
		
		<!-- Search Form -->
		<form id="search-form" class="row  panel-body  collapse  main-box__form">
			<div class="col-xs-12  col-md-4  form-group  main-box__form__group">
				<div class="input-group">
					<input type="text" class="form-control" id="inputGroup1" aria-describedby="inputGroup1" placeholder="Seleccione...">
					<span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
				</div>
			</div>
			<!-- end .main-box__form__group -->

			<div class="col-xs-12  col-md-4  form-group  main-box__form__group">
				<div class="input-group">
					<input type="text" class="form-control" id="inputGroup2" aria-describedby="inputGroup2" placeholder="Seleccione...">
					<span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
				</div>
			</div>
			<!-- end .main-box__form__group -->

			<div class="col-xs-12  col-md-4  form-group  main-box__form__group">
				<select class="form-control">
					<option disabled selected>Seleccione...</option>
					<option>Option 1</option>
					<option>Option 2</option>
					<option>Option 3</option>
					<option>Option 4</option>
					<option>Option 5</option>
				</select>
			</div>
			<!-- end .main-box__form__group -->

			<div class="col-xs-12  col-md-8  form-group  main-box__form__group">
				<input type="text" class="form-control" id="inputGroup3" aria-describedby="inputGroup3" placeholder="Búsqueda General">
			</div>
			<!-- end .main-box__form__group -->

			<div class="col-xs-12  col-md-4  form-group  text-right  main-box__form__actions">
				<!-- Indicates a successful or positive action -->
				<button type="submit" class="btn  btn-success"><i class="fa fa-search fa-fw"></i> Buscar</button>
			</div>
			<!-- end .main-box__form__actions -->
		</form>
		<!-- end .main-box__body -->
	</div>
	<!-- end .main-box__panel -->
</div>